<div class="row" ng-app="acesso" ng-controller="senhaController as senhaCtrl">
    <div class="col-lg-4 col-centered">
      <h3>Trocar Senha</h3>
      <div ng-show="senhaCtrl.mensagem.length > 0" class="alert alert-{{senhaCtrl.tipoMensagem}}">
        {{senhaCtrl.mensagem}}
      </div>
      <form>
        <div class="form-group">
          <label for="atual">Senha atual</label>
          <input type="password" class="form-control" id="atual" placeholder="Senha atual" ng-model="senhaCtrl.atual">
        </div>
        <div class="form-group">
          <label for="nova">Nova senha</label>
          <input type="password" class="form-control" id="nova" placeholder="Nova senha" ng-model="senhaCtrl.nova">
        </div>
        <div class="form-group">
          <label for="confirmacao">Confirmação da nova senha</label>
          <input type="password" class="form-control" id="confirmacao" placeholder="Confirmação da senha" ng-model="senhaCtrl.confirmacao">
        </div>
        <button type="button" class="btn btn-success" ng-click="senhaCtrl.trocar()">Trocar</button>
      </form>
</div>
