<div class="row">

  <div class="col-md-3">
    <p class="lead">Filtre por categoria</p>
    <div class="list-group">
      <a href="#!/produtos" class="list-group-item">TODAS</a>
      <a href="#" class="list-group-item">Móveis</a>
    </div>
  </div>

  <div class="col-md-9">
    <div class="row carousel-holder">
      <div class="col-md-12" loja-banners></div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        Ordenar por:
        <label style="margin: 5px;">
          <input ng-model="vmProdutos.ordem" type="radio" name="ordenacao" value="nome">Nome
        </label>
        <label style="margin: 5px;">
          <input ng-model="vmProdutos.ordem" type="radio" name="ordenacao" value="preco">Preço
        </label>
      </div>

      <div ng-repeat="produto in vmProdutos.produtos | orderBy: vmProdutos.ordem" class="col-sm-4 col-lg-4 col-md-4">
        <div class="thumbnail">
          <div class="text-center" style="padding: 5px;">
            <a href="#!/produto/{{produto.id}}">
              <img ng-src="{{produto.urlFoto}}" alt="" style="display: inline; width: 90%; margin: 0px auto;">
            </a>
          </div>
          <div class="caption">
            <h5 class="pull-right" style="color: red;">
              {{produto.preco | currency}}
            </h5>
            <h5>
              <a href="#">{{produto.nome}}</a>
            </h5>
            <p>
              {{produto.descricao | limitTo: 90}}
              ...
            </p>
          </div>
          <div class="ratings">
            <!-- <teste-avaliacoes avaliacoes="{{produto.avaliacoes}}" nota="{{produto.nota}}">
            </teste-avaliacoes> -->
            <span class="pull-right">5
              <span>avaliações</span>
            </span>
            <span>
              <span class="glyphicon glyphicon-star"></span>
              <span class="glyphicon glyphicon-star"></span>
              <span class="glyphicon glyphicon-star"></span>
              <span class="glyphicon glyphicon-star"></span>
              <span class="glyphicon glyphicon-star"></span>
            </span>
          </div>
        </div>
      </div>

    </div>

  </div>

</div>
